@{
    ViewData["Title"] = "Home Page";
}

<div class="containerr">
<main class="mainhome">
    
    <h1>Calc Service Demonstration</h1>
    <ul>
            <li><a href="Home/UsingModelCalc">Using Model Calc</a></li>
            <li><a href="Home/UsingViewDataCalc">Using ViewData Calc</a></li>
            <li><a href="Home/UsingViewBagCalc">Using ViewBag Calc</a></li>
            <li><a href="Home/AccessServiceDirectly">Using Service Injection Calc</a></li>
    </ul>
</main>
</div>